.centered-div {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.button-div {
  margin: auto;
  width: 13%;
}

.form-content > label,
input {
  max-width: 600px;
}
.form-content > label,
span {
  min-width: 200px;
}
