.centeredDiv {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.buttonDiv {
  margin: auto;
  width: 70%;
}

.btnFormSend {
  background-color: red;
  color: red
}

.signFormContent {
  max-width: 600px;
}
.signInputGroupText {
  min-width: 100px;
}
